body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: auto;
    background-size: cover;
    background-color: aliceblue;
}

h3 {
    font-size: 36px;
}

div {
    font-size: 24px;
}

.div-text {
    margin: 0 75px;
}

#btn-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#btn-container button {
    font-weight: bold;
}

button {
    height: 4rem;
    width: 8rem;
    font-size: 1.5rem;
    margin: 10px 4px;
}

button:hover {
    transform: scale(1.2);
    transition: all .5s;
    background-color: rgb(240, 173, 173);
    border: 1px solid black;
}

#reset {
    margin-bottom: 20px;
}